<div class="container d-flex flex-column align-items-center">
    <h1>Cambiar contraseña</h1>
    <p>Ingrese su contraseña y aprete el boton para recibir un mail que le permitirá cambiar su contraseña.</p>
    <form class="d-flex flex-column gap-1" action="/api/sessions/changePassword" method="post">
        Email: <input type="email" name="email" placeholder="Ingrese su email" required><br>
        <div class="d-flex align-items-center gap-1">
            <input class="btn btn-primary" type="submit" value="Cambiar contraseña">
        </div>
    </form>
</div>