<div class="container d-flex flex-column align-items-center">
    <h1>Login de usuario</h1>
    <form class="d-flex flex-column gap-1" action="/api/sessions/login" method="post">
        Email: <input type="email" name="email" placeholder="Ingrese su email" required><br>
        Password: <input type="password" name="password" placeholder="Ingrese su contraseña" required>
        <a href="http://localhost:8080/changePassword">Restablecer contraseña</a><br>
        <div class="d-flex align-items-center gap-1">
            <input class="btn btn-primary" type="submit" value="Iniciar sesión">
            <a href="http://localhost:8080/register"><input class="btn btn-primary" type="button" value="Registrate"></a>
        </div>
    </form>
    <a href="/api/sessions/github"><button class="btn btn-primary mt-1">Entrar con github</button></a>
</div>