<div class="container d-flex flex-column align-items-center">
    <h1>Ingrese su nueva contraseña.</h1>
    <form class="d-flex flex-column gap-1" action="/api/sessions/setPassword" method="post">
        Email: <input type="email" name="email" placeholder="Ingrese su email" required><br>
        Nuevo Password: <input type="password" name="password" placeholder="Ingrese su contraseña" required><br>
        <input class="btn btn-primary" type="submit" value="Cambiar contraseña">
    </form>
</div>